    <footer id="footer" class="wet-asphalt">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank" href="#" title="Abreu&amp;Soublett">Abreu&amp;Soublett</a>. Todos los Derechos Reservados.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="{% url 'Inicio' %}">Inicio</a></li>
                        <li><a href="{% url 'Blog' %}">Blog</a></li>
                        <li><a href="{% url 'Institucional' %}">Institucional</a></li>
                        <li><a href="{% url 'Contacto' %}">Contacto</a></li>
                        <li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li><!--#gototop-->
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->